@charset "utf-8";
@import "reset";

#vidGallery{
    width: 100%;
    padding: 100px;
    box-sizing: border-box;

    article {
        width: 100%;
        border: 1px solid #ccc;
        margin: 30px;
        padding: 30px;
    
        &::after{
            content: "";
            display: block;
            clear: both;
        }

        .pic{
            display: block;
            width: 30%;
            height: 150px;
            float: left;
            background-size: cover;
            background-position: center;
        }
        .con {
            width: 70%;
            float: right;
            box-sizing: border-box;
            padding-left: 20px;

            h2 {
                font: bold 20px/1.2 "arial";
                color: #333;
                margin-bottom: 10px;
            }
            p {
                font: 16px/1.3 "arial";
                color: #666;
                margin-bottom: 30px;
            }
            span {
                font: 12px/1 "arial";
                color: orange;
            }
        }
    }
}